<div class="jumbotron">
    <h2 class="display-4">Добро пожаловать!</h2>
    <p class="lead">Приложение для создания постановочного</p>
    <hr class="my-4">
    <p>Написано на ASP.NET Core + Angular</p>
    <a class=" btn btn-primary btn-lg">Создать постановочный</a>
</div>
<div class="jumbotron">
    <h2 class="display-4">Добро пожаловать!</h2>
    <p class="lead">Приложение для создания постановочного</p>
    <hr class="my-4">
    <p>Написано на ASP.NET Core + Angular</p>
    <a class=" btn btn-primary btn-lg">Создать постановочный</a>
</div>
<div class="jumbotron">
    <h2 class="display-4">Добро пожаловать!</h2>
    <p class="lead">Приложение для создания постановочного</p>
    <hr class="my-4">
    <p>Написано на ASP.NET Core + Angular</p>
    <a class=" btn btn-primary btn-lg">Создать постановочный</a>
</div>
<div class="jumbotron">
    <h2 class="display-4">Добро пожаловать!</h2>
    <p class="lead">Приложение для создания постановочного</p>
    <hr class="my-4">
    <p>Написано на ASP.NET Core + Angular</p>
    <a class=" btn btn-primary btn-lg">Создать постановочный</a>
</div>
<div class="jumbotron">
    <h2 class="display-4">Добро пожаловать!</h2>
    <p class="lead">Приложение для создания постановочного</p>
    <hr class="my-4">
    <p>Написано на ASP.NET Core + Angular</p>
    <a class=" btn btn-primary btn-lg">Создать постановочный</a>
</div>
<div class="jumbotron">
    <h2 class="display-4">Добро пожаловать!</h2>
    <p class="lead">Приложение для создания постановочного</p>
    <hr class="my-4">
    <p>Написано на ASP.NET Core + Angular</p>
    <a class=" btn btn-primary btn-lg">Создать постановочный</a>
</div>
<div class="jumbotron">
    <h2 class="display-4">Добро пожаловать!</h2>
    <p class="lead">Приложение для создания постановочного</p>
    <hr class="my-4">
    <p>Написано на ASP.NET Core + Angular</p>
    <a class=" btn btn-primary btn-lg">Создать постановочный</a>
</div>