<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Chronawesomer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="collapsingNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/events']" [routerLinkActive]="['active']">Мои события</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/events', 0, 'edit']" >Создать событие</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link eta-link-button" (click)="loginUser()">Вход</a>
            </li>
        </ul>
    </div>
</nav>