<div class="row">
    <div class="col">
        <h4>
            {{title}}
        </h4>
    </div>
    <div class="col text-right">
        <a [routerLink]="['/events']" [queryParams]="{ showAll: 'false'}">
            К списку
        </a>
    </div>
</div>

<div class="card mt-2">
    <div class="card-body">
        <form [formGroup]="eventBasePropertiesForm">
            <div class="form-group">
                <label>Название</label>
                <input class="form-control" type="text" formControlName="name"
                    [ngClass]="{'is-invalid' : name.invalid && name.touched}" />
            </div>
            <div class="form-group">
                <label>Описание</label>
                <textarea class="form-control" rows="3" formControlName="description" wrap="hard"
                    placeholder="Опишите предстоящее событие" style="resize: none"></textarea>
            </div>
            <div class="form-group">
                <label>Дата</label>
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="date" ngbDatepicker
                        #d="ngbDatepicker">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Время начала</label>
                <!-- <p-calendar formControlName="eventStartTime" [inline]="true" showTime="true" hourFormat="24"></p-calendar> -->
                <ngb-timepicker formControlName="startTime"></ngb-timepicker>
            </div>

            <button type="submit" class="btn btn-primary" (click)="save()">Сохранить</button>
        </form>
    </div>
</div>

<div class="card mt-2">
    <div class="card-body">
            <div class="row">
                    <div class="col">
                        <h6>
                            Добавление строк
                        </h6>
                    </div>
                    <div class="col text-right">
                            <button class="btn btn-outline-secondary"(click)="createEventTiming()">Добавить</button>
                    </div>
                </div> 
        <div class="row text-center" *ngIf="!eventTimingItems || eventTimingItems.length === 0">
            <div class="col text-center">
                <h6>Пока нет записей!</h6>
            </div>
        </div>
        <div *ngIf="eventTimingItems && eventTimingItems.length > 0">
            <table mat-table [dataSource]="eventTimingItems" #table cdkDropList [cdkDropListData]="eventTimingItems"
                (cdkDropListDropped)="dropTable($event)" style="width: 100%">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon cdkDragHandle>reorder</mat-icon>
                    </td>
                </ng-container>
                <ng-container matColumnDef="start">
                    <th mat-header-cell *matHeaderCellDef>Время начала этапа</th>
                    <td mat-cell *matCellDef="let element">{{element.startTime}}</td>
                </ng-container>
                <ng-container matColumnDef="duration">
                    <th mat-header-cell *matHeaderCellDef>Длительность</th>
                    <td mat-cell *matCellDef="let element"> {{element.durationMin}}:{{element.durationSec}}</td>
                </ng-container>
                <ng-container matColumnDef="artist">
                    <th mat-header-cell *matHeaderCellDef>Артист</th>
                    <td mat-cell *matCellDef="let element"> {{element.artist}}</td>
                </ng-container>
                <ng-container matColumnDef="song">
                    <th mat-header-cell *matHeaderCellDef>Песня</th>
                    <td mat-cell *matCellDef="let element"> {{element.song}}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" cdkDrag [cdkDragData]="row"></tr>
            </table>
        </div>
    </div>
</div>
<div>
    {{eventTimingItems | json}}
</div>